fastapi~=0.109.0
uvicorn
sqlalchemy~=2.0.25
pydantic~=2.5.3
python-jose
python-multipart
redis~=5.0.1
rq~=1.15.1
joblib~=1.3.2
dash~=2.14.2
python-dotenv~=1.0.0
pandas
numpy
scikit-learn
requests~=2.31.0
jose~=1.0.0
passlib
starlette~=0.35.1